body {
  font-family: sans-serif;
  font-size: 16px;
  background-image: url("../imagenes/fondo_2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  }